.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin: 0.5rem;
    background: #fff;
}

/*TAREA 4: ESTILOS PARA EL FORMULARIO DE AGREGAR PRODUCTO*/
/* Contenedor principal de la página del formulario */

.main-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    text-align: center;
    color: #c56c39;
    margin-bottom: 25px;
}

/* Grupo que contiene la etiqueta y el input */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Estilo general para todos los inputs y textareas */
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #e67e22;
    box-shadow: 0 0 8px rgba(230, 126, 34, 0.3);
}

/* === ESTILOS PARA EL BOTÓN DE ENVÍO === */
.btn-submit {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-submit:hover {
    background-color: #d35400;
}